*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

span {
  display: inline-block;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
}

body {
  font-family: "Cormorant SC", sans-serif;
}

.main-container {
  max-width: 960px;
  margin: 0 auto;
}

.title-text {
  font-size: 32px;
  font-weight: 400;
  line-height: 38.75px;
  margin-bottom: 20px;
}

.desc {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #000;
  max-width: 720px;
  margin: 0 auto;
  font-family: "Cormorant", sans-serif;
}
.desc span {
  font-family: "Cormorant SC", sans-serif;
}

.desc-title {
  font-family: "Cormorant SC", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.91px;
  text-align: center;
}

.desc-link {
  font-family: "Cormorant";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
  color: #000000;
  text-transform: uppercase;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.desc-link::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
}

.x-text {
  font-family: "Cormorant SC", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  display: block;
}

.big-close__btn {
  width: 200px;
  height: 200px;
}
.big-close__btn img,
.big-close__btn svg {
  width: 170px;
  height: 170px;
}

.pt-80 {
  padding-top: 80px;
}

.links {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 3px;
  margin-bottom: 10px;
}
.links span {
  font-family: "Cormorant SC";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.38px;
  text-align: center;
}
.links a {
  font-family: "Cormorant SC";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.38px;
  text-align: center;
  text-decoration: underline;
  color: #000;
  display: inline-block;
}

.link-text {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.38px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}

.header {
  padding-top: 100px;
  text-align: center;
}
.header button {
  display: block;
  margin: 0 auto;
}
.header-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 38.75px;
  text-align: center;
}

section {
  padding-bottom: 100px;
}

.art-section .main-container {
  position: relative;
}
.art-section .swiper-slide .small-img {
  height: 186px;
}
.art-section .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 388px;
}

.slider-next__btn,
.slider-prev__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.slider-next__btn rect,
.slider-prev__btn rect {
  fill: rgba(0, 0, 0, 0.8980392157);
  transition: all 0.2s linear;
}
.slider-next__btn .change-color,
.slider-prev__btn .change-color {
  transition: all 0.2s linear;
  stroke: #fff;
}
.slider-next__btn.white-btn rect,
.slider-prev__btn.white-btn rect {
  fill: #fff;
}
.slider-next__btn.white-btn .change-color,
.slider-prev__btn.white-btn .change-color {
  stroke: #000;
}

.slider-prev__btn {
  left: -160px;
}

.slider-next__btn {
  right: -160px;
}
.slider-next__btn svg {
  transform: rotate(180deg);
}

.swiper-button-disabled rect {
  fill: transparent;
}
.swiper-button-disabled .change-color {
  stroke: #000;
}

.see-art__slider-img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
.see-art .slider-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: underline;
  margin: 10px 0;
}
.see-art .slider-desc {
  font-family: "Cormorant", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.see-art .slider-date {
  font-family: "Cormorant SC";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.8px;
  display: block;
  margin-bottom: 10px;
}

.content-slide__title {
  font-family: "Cormorant SC";
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  margin-top: 10px;
}

.content-slide__status {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.53px;
  text-align: left;
}

footer {
  padding-bottom: 95px;
}

.art-work__header {
  padding: 80px 0 120px 0;
}

.art-work__slider-box {
  display: flex;
  align-items: start;
}
.art-work .img-box {
  width: 560px;
  height: 694.75px;
  position: relative;
  z-index: 1;
}
.art-work .img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 640px;
  z-index: -1;
  border: 1px solid #000;
}
.art-work .img-box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  margin-left: -120px;
}
.art-work .swiper-slide {
  opacity: 0;
}
.art-work .swiper-slide-active {
  opacity: 1;
}
.art-work .content {
  display: flex;
  flex-direction: column;
  gap: 13px;
  max-width: 420px;
  background: #fff;
  position: relative;
  z-index: 100;
}
.art-work .content-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 38.75px;
}
.art-work .content .desc.cs {
  font-family: "Cormorant SC";
}
.art-work .content .desc,
.art-work .content .x-text {
  max-width: 100%;
  margin: 0;
  text-align: left;
}
.art-work .content .x-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
}
.art-work__swiper {
  width: 560px;
  margin: 0;
}
.art-work .swiper-btns {
  display: flex;
  gap: 160px;
  margin-top: 71px;
  padding-left: 40px;
}

.outline-btn {
  font-family: "Cormorant", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.8px;
  text-align: left;
  border: 1px solid #000;
  background: transparent;
  padding: 9px 45px;
  color: #000;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}

.blog-cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.blog-card {
  display: flex;
  gap: 40px;
  align-items: start;
}
.blog-card__img {
  width: 480px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-card__content {
  max-width: 440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog-card__title {
  font-size: 28px;
  font-weight: 400;
  line-height: 33.91px;
  text-decoration: underline;
}
.blog-card__date {
  font-family: "Cormorant", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.22px;
}
.blog-card__desc {
  font-family: "Cormorant", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.blog .x-text {
  font-family: "Major Mono Display";
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
}
.blog .paginations {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.blog .pagination {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-align: center;
}
.blog .pagination:hover, .blog .pagination.active {
  background: #000;
  color: #fff;
}

.text-section .text-box {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.text-section .text-box img {
  margin: 20px 0;
  width: 100%;
  height: 450px;
}
.text-section .text-box .desc {
  font-family: "Cormorant", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.text-section .gallery-slider-2 {
  margin: 50px 0;
}
.text-section .gallery-slider-2 img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.text-section .text-box-2 h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
}
.text-section .text-box-2 .desc {
  text-align: left;
}

@media (max-width: 992px) {
  .main-container {
    max-width: calc(100% - 60px);
  }
  .blog-card__img {
    width: 380px;
  }
}
@media (max-width: 768px) {
  .art-work__header {
    padding: 40px 0;
  }
  .blog-cards {
    gap: 20px;
  }
  .blog-card {
    flex-direction: column;
    gap: 10px;
  }
  .blog-card__img {
    width: 100%;
    height: 240px;
  }
  .blog-card__content {
    max-width: 100%;
  }
}/*# sourceMappingURL=main.css.map */