*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

span {
  display: inline-block;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
}

body {
  font-family: "Cormorant SC", sans-serif;
}

.main-container {
  max-width: 960px;
  margin: 0 auto;
}

.title-text {
  font-size: 32px;
  font-weight: 400;
  line-height: 38.75px;
  margin-bottom: 20px;
}

.desc {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #000;
  max-width: 720px;
  margin: 0 auto;
  font-family: "Cormorant", sans-serif;
}
.desc span {
  font-family: "Cormorant SC", sans-serif;
}

.desc-title {
  font-family: "Cormorant SC", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.91px;
  text-align: center;
}

.desc-link {
  font-family: "Cormorant";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
  color: #000000;
  text-transform: uppercase;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.desc-link::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
}

.x-text {
  font-family: "Cormorant SC", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  display: block;
}

.big-close__btn {
  width: 200px;
  height: 200px;
}
.big-close__btn img,
.big-close__btn svg {
  width: 170px;
  height: 170px;
}

.pt-80 {
  padding-top: 80px;
}

.header {
  padding-top: 100px;
  text-align: center;
}
.header button {
  display: block;
  margin: 0 auto;
}
.header-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 38.75px;
  text-align: center;
}

section {
  padding-bottom: 100px;
}

.art-section .main-container {
  position: relative;
}
.art-section .swiper-slide .small-img {
  height: 186px;
}
.art-section .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 388px;
}

.slider-next__btn,
.slider-prev__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.slider-next__btn rect,
.slider-prev__btn rect {
  fill: rgba(0, 0, 0, 0.8980392157);
  transition: all 0.2s linear;
}
.slider-next__btn .change-color,
.slider-prev__btn .change-color {
  transition: all 0.2s linear;
  stroke: #fff;
}
.slider-next__btn.white-btn rect,
.slider-prev__btn.white-btn rect {
  fill: #fff;
}
.slider-next__btn.white-btn .change-color,
.slider-prev__btn.white-btn .change-color {
  stroke: #000;
}

.slider-prev__btn {
  left: -160px;
}

.slider-next__btn {
  right: -160px;
}
.slider-next__btn svg {
  transform: rotate(180deg);
}

.swiper-button-disabled rect {
  fill: transparent;
}
.swiper-button-disabled .change-color {
  stroke: #000;
}

.see-art__slider-img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
.see-art .slider-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: underline;
  margin: 10px 0;
}
.see-art .slider-desc {
  font-family: "Cormorant", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}/*# sourceMappingURL=main.css.map */